<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moataz.MultiDexApplication.eventboard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />


    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.moataz.eventboard.UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geo_api_key" />

        <service android:name="com.moataz.eventboard.Syncing.EventsIntentService" />
        <service android:name="com.moataz.eventboard.Syncing.VeunesIntentService" />

        <activity
            android:name="com.moataz.eventboard.UI.Detail"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.moataz.eventboard.UI.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.moataz.eventboard.UI.MainActivity" />
        </activity>

        <provider
            android:name="com.moataz.eventboard.DataUtil.EventsProvider"
            android:authorities="com.moataz.eventboard.DataUtil.EventsProvider"
            android:exported="false"
            android:multiprocess="true"></provider>


        <receiver
            android:icon="@drawable/common_google_signin_btn_icon_dark_normal"
            android:label="Example Widget"
            android:name="com.moataz.eventboard.widget.WidgetProvider">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.moataz.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>


        <service
            android:name="com.moataz.eventboard.widget.EventWidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>


</manifest>